<footer>
    <div class="container">
        <div class="row">

            <div class="col33">
                <div class="foo-content">
                    <ul class="foo-list">
                        <li>СТО LEON</li>
                        <li>Ремонт и техобслуживание легковых авто и микроавтобусов в Минске.</li>
                        <li>СТО Минск LEON работает и в субботу и в воскресенье.</li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>

            <div class="col33">
                <div class="foo-content">
                    <ul class="foo-list">
                        <li class="location-icon">
                            <p>пр-т. Победителей 115</p>
                            <p>г. Минск </p>
                            <p>Республика Беларусь</p>
                        </li>
                        <li class="phone-icon">
                            <p><a class="contact-text" title="Позвонить" href="tel:+375440000100">+375(44)
                                    100-50-50</a></p>
                            <p><a class="contact-text" title="Позвонить" href="tel:+375290000100">+375(29)
                                    100-50-50</a></p>
                            <p><a class="contact-text" title="Позвонить" href="tel:+375250000100">+375(25)
                                    100-50-50</a></p>
                        </li>
                        <li></li>
                    </ul>
                </div>
            </div>

            <div class="col33">
                <div class="sprites">
                    <div>
                        <a class="instagram" href="http://instagram.com"></a>
                        <a class="twitter" href="https://twitter.com"></a>
                    </div>
                    <div>
                        <a class="vk" href="https://vk.com"></a>
                        <a class="youtube" href="https://youtube.com"></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>
<div class="scrollUp invisible opacityNone" onmousedown="selectionScrollButton()" onmouseup="noselectionScrollButton()"
    onmouseout="noselectionScrollButton()">
    <a><span></span><span></span></a>
</div>